body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
  background-color: aliceblue;
  border: dotted;
  border-color: black;
  border-radius: 100px;
  padding: 20px 20px 40px 20px;
  text-align: center;
}
